# phpstorm project files
.idea

# composer vendor dir
/vendor

# composer itself is not needed
composer.lock

# Mac DS_Store Files
.DS_Store

/web/assets
/web/wallpapers

# Config manager files
/local
/production

# Cache tweets
/web/twit-api/cache

# Codekit
config.codekit

/config/db.php
/config/params.php
